* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

header {
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url('./img/background.jpg');
    background-size: cover;
    background-position: 30% 0;
}

header h1 {
    margin-bottom: 5px;
    padding-bottom: 2px;
    border-bottom: 1px solid black
}

.all_dishes {
    padding: 20px;
}

.dish {
    margin: 10px auto;
}

.dish img {
    width: 100%;
}

footer {
    padding: 20px;
    background-color: darkblue;
    color: white;
    text-align: center;
}